.start {
  position: relative;
  top: -30%;
  max-width: 880px;
  margin: 0 auto;
  padding: 1rem;
  transform: translateY(-60%);
  font-size: 1rem;
  text-align: center;
  p {
    margin: 2.50rem 0 2rem;
  }
  img {
    @include breakpoint(m, max-width) {
      display: none;
    }
    max-width: 100%;
  }
  &-link {
    display: block;
    margin: 0 1rem 1rem;
    color: $color-black;
    font-size: 22px;
    font-weight: bolder;
    &:hover {
      color: $color-accent;
    }
  }
  &-link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
